
.accordionWrapper {
    display:flex;
    justify-content: space-evenly;

}
.DiscoverySourceWrapper{
    display:flex;
    flex-direction: column;
    width:60%;
    color:white;
   
}

.DiscoveryOption{
    display:flex;
    flex-direction: column;
    width:40%;
    color:white;
}

.stepsWrapper {
    display:flex;
    /* background: #000000; */
}
.accordionDiscoverySource {
width:60%;
}
.buttonsWrapper {
margin:2rem;
padding:1rem;
}

.stepWrapper{
    background: black;
    /* padding: 0; */
}


.ui.steps .step {
    background: 'black';
   }
